{% extends 'base.html.twig' %}

{% block title %}{{ 'events'|trans|title }}{% endblock %}
{% block description %}{{ 'foothill_forum_archive'|trans|title }}{% endblock %}


{% block body %}

    <table>
        {% for e in events %}
            <tr>
                <td>
                    <a href="{{ path('event_show', e.rp) }}" class="btn btn-primary">
                        <i class="bi bi-qr-code"></i>
                    </a>
                </td>
                <td>

                <a href="{{ path('event_submission_new', e.rp) }}" class="btn btn-primary">
                    <i class="bi bi-camera"></i>
                </a>
                </td>
                <td>
                <b>{{ e.team.name }} v {{ e.opponent}} </b><br />
                    {{ e.eventDate|date }}
                    <span class="fs-6">{{ e.eventDate|ago }}</span>
                    {{ e.type }}
                    at {{ e.location.name }}
                </td>

            </tr>
        {% endfor %}

    </table>

{% endblock %}
