{% extends 'base.html.twig' %}

{% block title %}{{ 'events'|trans|title }}{% endblock %}
{% block description %}{{ 'foothill_forum_archive'|trans|title }}{% endblock %}

{% block body %}
    {{ events|length }} Events
    <table class="table">
        {% for e in events %}
            <tr>
                <td>
                    <div class="vstack gap-1">
                        <a href="{{ path('event_submission_new', e.rp) }}" class="btn btn-success">
                            <i class="bi bi-camera"></i>
                        </a>
                        {% if e.submissions.count %}
                        <a href="{{ path('event_slideshow', e.rp) }}" class="btn btn-primary">
                            <i class="bi bi-file-slides"></i>
                        </a>
                        {% endif %}
                        <a href="{{ path('event_show', e.rp) }}" class="btn btn-secondary">
                            <i class="bi bi-qr-code"></i>
                        </a>
                    </div>
                </td>
                <td>
                <b>
                    <a href="{{ path('team_show', e.team.rp) }}">
                        {{ e.team.name }} v

                    </a>
                    {{ e.opponent}} </b><br />
                    {{ e.eventDate|date }}
                    <span class="fs-6">{{ e.eventDate|ago }}</span>
                    <div>
                        {{ e.type }}
                        at {{ e.location.name }}
                    </div>

                </td>

            </tr>
        {% endfor %}

    </table>

{% endblock %}
