{% extends 'base.html.twig' %}

{% block title %}{{ 'articles'|trans|title }}{% endblock %}
{% block description %}{{ 'foothill_forum_archive'|trans|title }}{% endblock %}

{% block body %}

    {% set columns =
        [
            {name: 'headline'},
            {name: 'keywords', block: 'array'},
            {name: 'sections', block: 'array'},
            {name: 'byline'},
            {name: 'authors'},
            {name: 'section', sortable: true, browsable: true},
            {name: 'tags', block: 'array'},
        ] %}

    <twig:api_grid
            :class="class"
            :caller="_self"
            :columns="columns"
    >
        <twig:block name="authors">
            {% for author in row.authors %}
                {{ author.fullName }}
            {% endfor %}
        </twig:block>
        <twig:block name="array">
            {% for value in row[field_name] %}
                <li>{{ value }}</li>
            {% endfor %}
{#            {{ row[field_name]|map(r => "<span class='badge badge-info'>#r</span>")|join('<br /') }}#}
        </twig:block>
        <twig:block name="headline">
            <div class="d-inline-block text-truncate">
            <a title="{{ row.headline }}" target="_blank" href="{{ row.url }}" style="max-width: 150px;">
                {{ row.headline }}
            </a>
            </div>
        </twig:block>

    </twig:api_grid>

{% endblock %}
