{% extends 'base.html.twig' %}

{% block title %}{{ 'events'|trans|title }}{% endblock %}
{% block description %}{{ 'foothill_forum_archive'|trans|title }}{% endblock %}

{% block PAGE_MENU %}
    {% set options = {
        entityClass: class
    } %}

    <twig:menu :type="PAGE_MENU" :caller="_self" :options="options">
    </twig:menu>

{% endblock %}

{% block body %}

    {% set columns =
        [
            {name: 'headline'},
            {name: 'authors'},
            {name: 'authorCount'},
            {name: 'keywords', block: 'array'},
            {name: 'sections', block: 'array'},
            {name: 'byline'},
            {name: 'section', sortable: true, browsable: true},
            {name: 'tags', block: 'array'},
        ] %}

    <twig:api_grid
            :class="class"
            :apiRoute="apiRoute"
            :caller="_self"
            :columns="columns"
    >
        <twig:block name="authors">
            {% for author in row.authors %}
                <a href="{{ path('author_show', author.rp) }}">
                    #{{ author.id }}: {{ author.fullName }}

                </a>
            {% endfor %}
        </twig:block>
        <twig:block name="array">
            {% for value in row[field_name] %}
                <li>{{ value }}</li>
            {% endfor %}
{#            {{ row[field_name]|map(r => "<span class='badge badge-info'>#r</span>")|join('<br /') }}#}
        </twig:block>
        <twig:block name="headline">
            <div class="d-inline-block text-truncate">
            <a title="{{ row.headline }}" target="_blank" href="{{ row.url }}" style="max-width: 150px;">
                {{ row.headline|slice(0, 30) }}
            </a>
            </div>
        </twig:block>

    </twig:api_grid>

{% endblock %}
