{% extends "author/base.html.twig" %}

{% block body %}
    <h1>Author</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ author.uuid }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ author.avatar }}</td>
            </tr>
            <tr>
                <th>Profile</th>
                <td>{{ author.profile }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ author.fullName }}</td>
            </tr>
        </tbody>
    </table>

    <h3>{{ author.articleCount }} Articles</h3>
    {% for article in author.articles|slice(0,3) %}
        <li>{{ article.headline }}</li>
    {% endfor %}

    <h3>Articles Datatable (needs resource)</h3>

    <a target="_blank" href="https://api-platform.com/docs/core/subresources/">Api platform docs</a>

    {% set apiCall = '/api/author/%d/article'|format(author.id) %}

    {% set useMeili = false %}
    {% set columns = [
        'id',
        'headline'
    ] %}
    <twig:api_grid
            facets="false"
            :class="class"
            :meili="useMeili"
            :apiGetCollectionUrl="apiCall"
            :caller="_self"
            :columns="columns"
    >

        <twig:block name="id">
                ID: {{ row.id }}
        </twig:block>
    </twig:api_grid>

    <a class="btn btn-primary" target="_blank" href="{{ apiCall }}">{{ apiCall }}</a>

    <h3>Meili Subresource</h3>
    {% set url = '/api/meili/author/%d/article'|format(author.id) %}
    <a class="btn btn-success" target="_blank" href="{{ url }}">{{ url }}</a>



{% endblock %}
