{% extends "event/base.html.twig" %}

{% block title %}{{  class }}{% endblock %}

{% block body %}
<h1>{{ class }} {{ _self }}</h1>

<twig:api_grid
        facets="false"
        :class="class"
        :apiGetCollectionUrl="apiCall"
        :caller="_self"
        :columns="columns"
>

    <twig:block name="opponent">
        <div class="max-24rem">

            <a href="{{ path('event_show', row.rp) }}">
                {{ row.eventDate|date('Y-m-d') }}
                <span class="">
                {{ row.opponent|slice(0, 30) }}
                </span>
            </a>
            <br />
            <a class="btn btn-sm btn-outline-primary" href="{{ path('event_submission_new', row.rp) }}" target="_blank">+Photo</a>
            <a class="btn btn-sm btn-outline-success" href="{{ path('event_show', row.rp) }}" target="_blank">Flyer</a>
            <a class="btn btn-sm btn-outline-warning" href="{{ path('event_slideshow', row.rp) }}" target="_blank">Photos ({{ row.submissionCount }})</a>

        </div>
    </twig:block>

    <twig:block name="location">
        <div class="max-24rem">
            <a href="{{ path('location_show', row.location.rp) }}">
                {{ row.location.locationId|slice(0, 22) }}
            </a>
        </div>
    </twig:block>
    <twig:block name="eventDate">
        <p>
            <a class="btn btn-sm btn-outline-primary" href="{{ path('event_show', row.rp) }}" target="_blank">Flyer</a>
            <time data-controller="timeago"
                  data-timeago-add-suffix-value="true"
                  data-timeago-datetime-value="{{ row.eventDate|date('c') }}"></time>

        </p>
    </twig:block>

    <twig:block name="id">
        <a target="_blank" href="https://rappahannockcountyhs.rschoolteams.com/page/{{ row.rSchoolId }}">
            {{ row.rSchoolId }}
        </a>
    </twig:block>
    <twig:block name="submissionCount">
        <a href="{{ path('event_slideshow', row.rp) }}">{{ row.submissionCount }}</a>
    </twig:block>
    <twig:block name="sport">
        {{ row.sport.code }}
    </twig:block>
</twig:api_grid>
{% endblock %}
