{% extends "event/base.html.twig" %}

{% block body %}
    <h1>{{ event.name }}</h1>
    <h4 class="text-muted">{{ event }}</h4>

    <h3>Become a citizen photographer!</h3>
    <p>
        Scan the QR code below and submit your pictures to the Rappahannock News.
    </p>


    {% set url = absolute_url(path('event_submission_new', event.rp)) %}
    <div class="align-content-center">
        <a href="{{ url }}">
            <img src="{{ qr_code_url(url) }}"  alt="{{ url }}"/>
        </a>
    </div>

    <a class="d-print-none btn btn-outline-primary" href="{{ url }}">
        Submit a photo
    </a>
    <a class="btn btn-outline-success" href="{{ path('event_slideshow', event.rp) }}">See Photos</a>

    <table class="table">
        <tbody>
            <tr>
                <th>When</th>
                <td>
                    {{ event.eventDate ? event.eventDate|date('D M d, Y H:i') : '' }}
                    <span class="d-print-none">
                    {{ event.eventDate ? event.eventDate|ago }}
                    </span>
                </td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ event.type }}</td>
            </tr>
            {% if event.opponent %}
            <tr>
                <th>Opponent</th>
                <td>{{ event.opponent }}</td>
            </tr>
            {% endif %}
            {% if event.location %}
            <tr>
                <th>Where</th>
                <td>{{ event.location }} / {{ event.location.name }}</td>
            </tr>
            {% endif %}
            {% if event.sport %}
            <tr>
                <th>Sport</th>
                <td>{{ event.sport }}
                    {{ event.section }}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>


<div>
    Sign up for the Rappahannock Daily, and get headlines via text or email!

</div>
{% endblock %}
