{% extends "event/base.html.twig" %}

{% block body %}
    <h1>{{ event }}</h1>


    <h3>Existing Photos</h3>
    {% set filter = 'squared_thumbnail_medium' %}
    {% for submission in event.submissions %}
        {% set flysystemPath = submission.imageName %}
        {% set thumbUrl = flysystemPath | imagine_filter(filter) %}
        <div class="col-md-4 col-sm-6">
            <figure class="figure">
                <a href="{{ path('submission_show', submission.rp) }}">
                    <img src="{{ thumbUrl }}" class="figure-img img-fluid rounded" title="{{ filter }}"
                         alt="{{ thumbUrl }}">
                </a>
                <figcaption class="figure-caption text-end">
                    <b class="text-small">
                        Credit: {{ submission.credit }} ({{ submission.email }})
                    </b>
                </figcaption>
            </figure>

        </div>


    {% endfor %}


{% endblock %}
