{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.creditName) }}
    {% if registrationForm.plainPassword|default(false) %}
    {% endif %}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            help: "At least 6 characters"
        }) }}

        {{ form_row(registrationForm.agreeTerms) }}

{#    <dialog id="modal">#}
{#        <h1>Terms and Conditions</h1>#}
{#        <p>Use at your own risk!  </p>#}
{#        <form method="dialog">#}
{#            <button>Close</button>#}
{#        </form>#}
{#    </dialog>#}
{#    <button onclick="modal.show()">Show Terms and Conditions</button>#}

        {{ form_rest(registrationForm) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
