{% extends "submission/base.html.twig" %}

{% block title %}{{  class }}{% endblock %}

{% block body %}
<h1>{{ class }} {{ _self }}</h1>

    {% set columns = [
        'id',
        'imageName',
        'submissionCount',
    ] %}
<twig:api_grid
        facets="false"
        :class="class"
        :apiGetCollectionUrl="apiCall"
        :caller="_self"
        :columns="columns"
>

    <twig:block name="id">
        ID: {{ row.id }}
    </twig:block>
    <twig:block name="imageName">
        <a href="{{ path('submission_show', row.rp) }}" title="{{ row.imageName }}">
            <img class="thumbnail" src="/images/submissions/{{ row.imageName }}" />
        </a>
    </twig:block>
</twig:api_grid>
{% endblock %}
