{% extends "submission/base.html.twig" %}

{% block title %}{{  class }}{% endblock %}

{% block body %}
<h1>{{ class }} {{ _self }}</h1>

    {% set columns = [
        'id',
        'marking',
        'credit',
        'imageName',
        'notes',
        'email',
        'event',
    ] %}
<twig:api_grid
        facets="false"
        :class="class"
        :apiGetCollectionUrl="apiCall"
        :caller="_self"
        :columns="columns"
>

    <twig:block name="event">
        {% if row.event %}
        <a href="{{ path('event_slideshow', row.event.rp) }}">
            {{ row.event.title }}
        </a>
        {% endif %}
    </twig:block>
    <twig:block name="imageName">
        <a href="{{ path('submission_show', row.rp) }}" title="{{ row.imageName }}">
            {#  because it's created after upload.  hackish! Need an event #}
            <img class="thumbnail" src="/media/cache/squared_thumbnail_medium/{{ row.imageName }}" />
        </a>
    </twig:block>
</twig:api_grid>
{% endblock %}
