{% extends "submission/base.html.twig" %}

{% block body %}
    <h1>Submission {{ submission.id }}</h1>
    <h3 class="text-muted">
        <a href="{{ path('event_show', submission.event.rp) }}">
            {{ submission.event }}
        </a>
    </h3>

{#    <img class="thumbnail"  src="{{ vich_uploader_asset(submission) }}" alt="{{ submission.imageName }}">#}

{#    <img class="thumbnail" src="{{ uploadHelper.asset(submission) }}"/>#}

    {% set flysystemPath = submission.imageName %}
    {% for filter in ['squared_thumbnail_medium','squared_thumbnail_tiny'] %}
        {% set thumbUrl = flysystemPath | imagine_filter(filter)   %}
        <figure class="figure">
            <a href="{{ thumbUrl }}" target="_blank">
                <img src="{{ thumbUrl }}" class="figure-img img-fluid rounded" alt="{{ thumbUrl }}">
            </a>
            <figcaption class="figure-caption text-end">{{ filter }}
                <b>
                    {{ flysystemPath }}

                </b>
            </figcaption>
        </figure>
        {#                <br /><b>{{ thumbUrl }}</b>#}
        {#                <br /><b>{{ imagePath }}</b>#}

    {% endfor %}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ submission.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ submission.imageName }}</td>
            </tr>
            <tr>
                <th>ImageSize</th>
                <td>{{ submission.imageSize }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('submission_edit', submission.rp) }}">edit</a>
    {{ include('submission/_delete_form.html.twig') }}
{% endblock %}
