{% extends "submission/base.html.twig" %}

{% block body %}
    <h1>Submission {{ submission.id }}</h1>

    Thanks for submitting! Your photo is being reviewed.

    {% for property in ['event','location'] %}
        {% set prop = attribute(submission, property) %}
        {% if prop %}
        <h3 class="text-muted">
            {{ property }}:
            <a href="{{ path(property ~ '_show', prop.rp) }}">
                {{ prop }}
            </a>
        </h3>
        {% endif %}
    {% endfor %}

    {% if (app.environment == 'dev') or is_granted('ROLE_ADMIN') %}
    <h3>S3</h3>
    {% set s3Url = vich_uploader_asset(submission) %}
    <a href="{{ s3Url }}" target="_blank">See on S3
{#        <img class="thumbnail"  src="{{ s3Url }}" alt="{{ submission.imageName }}">#}
    </a>
    {% endif %}

    {% set flysystemPath = submission.imageName %}
    {% for filter in ['squared_thumbnail_medium'] %}
        {% set thumbUrl = flysystemPath | imagine_filter(filter)   %}
        <div>
            <figure class="figure">
                <a href="{{ thumbUrl }}" target="_blank">
                    <img src="{{ thumbUrl }}" class="figure-img img-fluid rounded" alt="{{ thumbUrl }}">
                </a>
                <figcaption title="{{ flysystemPath }}" class="figure-caption text-end">
                    <b>
{#                        {{ flysystemPath }}#}
                        Credit: {{ submission.credit }}
                    </b>
                </figcaption>
            </figure>
        </div>
        {#                <br /><b>{{ thumbUrl }}</b>#}
        {#                <br /><b>{{ imagePath }}</b>#}

    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <h3>Admin</h3>
    {{ include('@SurvosWorkflow/_entity_transitions.html.twig', {transition_path: 'submission_transition', entity: submission}) }}
    {% endif %}

    {% if submission.event %}
    <a class="btn btn-primary" href="{{ path('event_submission_new', submission.event.rp) }}">Submit Another Photo at this event</a>
    {% endif %}

    <h3>Email to Admin</h3>

    {{ include('emails/submission.html.twig', {event:submission.event}) }}

{% endblock %}
