{% extends "location/base.html.twig" %}

{% block body %}
    <h1>{{ location.name }}</h1>

    {% set url = absolute_url(path('location_submission_new', location.rp)) %}
    <div class="align-content-center">
        <a href="{{ url }}">
            <img src="{{ qr_code_url(url) }}"  alt="{{ url }}"/>
        </a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ location.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ location.code }}</td>
            </tr>
        </tbody>
    </table>

    {% set newPhotoUrl = path('location_submission_new', location.rp) %}
    <a href="{{ newPhotoUrl }}">{{ newPhotoUrl }}</a>

    {% if is_granted('ROLE_ADMIN') %}

    <a class="btn btn-primary" href="{{ path('location_edit', location.rp) }}">edit</a>
    {{ include('location/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
