The following photo was received.

{{ event.title }}

<h3>Embedded</h3>
<img src="cid:image-{{ cidId }}" />

<h3>Link to {{ imageUrl }}</h3>
<a href="{{ imageUrl }}">
    <img src="{{ imageUrl }}" />
</a>

To approve or deny {{ submissionRp|json_encode }}...
