The following photo was received.

{% set flysystemPath = submission.imageName %}

{% set event = submission.event %}
<h3>
    {{ event ? event.title }}
    {{ submission.location ? submission.location.name }}
</h3>

{% if event %}
<a href="{{ absolute_url(path('event_slideshow', event.rp)) }}">
    See Photos
</a>
{% endif %}
{% if cidId is defined %}
{#    only if we want to embed the image#}
{#    <img src="cid:image-{{ cidId }}" alt="{{ flysystemPath }}"/>#}
{% endif %}

{% set filter = 'squared_thumbnail_medium' %}
{% set thumbUrl = flysystemPath | imagine_filter(filter) %}
<div>
    <figure class="figure">
        <a href="{{ thumbUrl }}" target="_blank">
            <img src="{{ thumbUrl }}" class="figure-img img-fluid rounded" alt="{{ thumbUrl }}">
        </a>
        <figcaption title="{{ flysystemPath }}" class="figure-caption text-end">
            <b>
                {#                        {{ flysystemPath }} #}
                Credit: {{ submission.credit }} ({{ submission.email }})
            </b>
                <div>{{ submission.notes }}</div>
        </figcaption>
    </figure>
</div>

<a class="btn btn-primary" href="{{ absolute_url(path('submission_show', submission.rp)) }}">
    Approve Or Deny
</a>

{#<h3>High Resolution</h3>#}
{#{% set s3Url = vich_uploader_asset(submission) %}#}
{#<a href="{{ s3Url }}" target="_blank">See Original#}
{#    #}{#        <img class="thumbnail"  src="{{ s3Url }}" alt="{{ submission.imageName }}">#}
{#</a>#}



